@import "../variables.module.scss";
@import "../mixin.module";

.container {
 
    width: 100%;
    min-height: 100vh;
    max-height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    .formContainer {
        width: 650px;
    }
    .si {
        display: flex;
        flex-direction: column;
        gap: 10px;
        height: auto;
        padding: 10px 0;
    
        @include phone {
            height: auto;
    
        }
    }
    .goback {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        button{
            padding: 10px;
            background-color: transparent;
            border: none;
            display: flex;
            align-items: center;
            color: $Secondary500;
            cursor: pointer;
        }
    }
    .message {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        gap: 5px;
        span {
            font-size: $fntbase;
        }
    }
}