.tiptap {
    width: 100%;
    padding: 20px;
    height: 700px;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-radius: 5px;
    outline: none;
    font-size: 18px;
ul,
    ol {
        padding: 0 2rem;
        margin: 1.25rem 1rem 1.25rem 0.4rem;

        li p {
            margin-top: 0.25em;
            margin-bottom: 0.25em;
        }

    }
}

.tiptap p.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
}

.tiptap p.is-empty::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
}