.container {
    width: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;

    .formContainer {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    form {
        width: 100px;
        display: flex;
        justify-content: flex-end;
    }
}