@import "../../../../variables.module.scss";
@import "../../../../mixin.module";

.container {
    width: 100%;

    .header {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .title {
            font-size: $fntlg;
            flex-wrap: wrap;
        }

        .btnGrp {
            display: flex;
            align-items: center;
            // gap: ;
        }
    }
}