@import "../../../../variables.module.scss";
@import "../../../../mixin.module";


.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .skillsContainer {
        width: 750px;
        height: auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;

    }

    .skills {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .searchBox {
            width: 100%;
            height: 60px;
            border-radius: 5px;
            padding: 0 20px;
            border: 1px solid $Neutral800;
            font-size: $fntbase;
        }

        .sc {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 10px;

            button {
                display: flex;
                align-items: center;
                border-radius: 5px;
                gap: 5px;
                padding: 10px 20px;
                border: none;
                cursor: pointer;
            }

            .active {
                background-color: $Primary500;
            }
        }
    }

    .body {
        height: auto;
        overflow: auto;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 5px 10px;

        &::-webkit-scrollbar {
            width: 5px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $Neutral500;
        }
    }

    .header {
        width: 100%;
        height: 50px;
        border-bottom: 1px solid $Neutral200;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;

        h2 {
            font-size: $fntlg;
        }
    }

    .footer {
        width: 100%;
        border-top: 1px solid $Neutral200;
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: flex-end;
        padding: 10px 0;
    }
}