@import "../../variables.module.scss";

.container {
    width: 350px;
    height: 100vh;
    border-right: 1px solid $Neutral200;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    background-color: $Primary500;

    .version {
        color: $Secondary500;
        font-size: $fnttiny;
    }
}