@import "../../variables.module.scss";


.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    padding: 10px;
    border-bottom: 1px solid $Neutral200;

    &:nth-last-child(1) {
        border: none;
    }

    .he {
        width: 100%;
    }

    .btnGrp {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    button {
        background-color: none;
        border: none;
        padding: 8px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .edit {
        // background-color: lightblue;
    }

    .deleteBtn {
        background-color: $Error500;

        svg {
            stroke: #fff;
        }
    }
}