@import "../../mixin.module";

.container {
    width: 100%;
    min-height: 100vh;
    max-height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    .formContainer {
        width: 650px;
    }
    .si {
        display: flex;
        flex-direction: column;
        gap: 10px;
            @include phone {
                height: auto;
        
            }
    }
}