@import "../variables.module.scss";

.linkv1 {
    text-decoration: none;
    color: $Secondary500;

    &:hover {
        color: $Primary600;
    }
}


.linkv2 {
    text-decoration: none;
    color: $Primary600;

    &:hover {
        color: $Primary600;
    }
}

.linkv3 {
    width: 100%;
    display: flex;
    gap: 10px;
    padding: 8px;
    text-decoration: none;
    font-size: $fnttiny;
    color: #000;
    border-radius: 5px;
    &:hover {
        background-color: $Neutral100;
    }
}