@import "../variables.module.scss";

.container {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.10em;
    height: 1.10em;
    border: 0.13em solid $Primary600;
    border-radius: 100px;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;

    &:checked {

        &::before {
            transform: scale(1);

        }
    }

    &::before {
        content: "";
        width: 0.60em;
        height: 0.60em;
        transform: scale(0);
        transition: 120ms transform ease-in-out;
        transform-origin: bottom left;
        background-color: $Primary600;
        border-radius: 100px;
        // clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    }
}