.container {
    width: 100%;
    height: 130px;
    padding: 0 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background-color: #fff;

    .nav,
    .profile {
        display: flex;
        align-items: center;
        gap: 2px;
    }
}