@import "../../../mixin.module";


.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .grid {
        width: 100%;
        height: auto;
        padding: 20px 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, 300px);
        gap: 20px;

        @include landscape {
            grid-template-columns: repeat(auto-fit, 100%);
        }

        @include portrait {
            grid-template-columns: repeat(auto-fit, 100%);
        }
    }
}