@import "../../../variables.module.scss";
@import "../../../mixin.module";


.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .socialContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .brand {
            display: flex;
            gap: 5px;

            svg {
                stroke-width: 1.5px;
            }
        }
    }

    .form {
        width: 100%;
        display: flex;
        justify-content: flex-end;

        form {}
    }
}