@import "../../../variables.module.scss";

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 20px;
    user-select: none;
    cursor: pointer;



    .whole {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &:hover {
        background-color: $Neutral100;
    }

    h2 {
        font-size: $fntbase;
    }

    .avatar {
        width: 40px;
        height: 40px;
        position: relative;
        border-radius: 100px;
        overflow-y: auto;
    }

    .messageInfo {
        display: flex;
        gap: 0;
        flex-direction: column;

        span {
            font-size: $fnttiny;
        }
    }
}

.active {
    background-color: $Neutral200;

    h2 {
        font-weight: bolder;
    }

    &::after {
        content: "";
        width: 10px;
        height: 10px;
        border-radius: 100px;
        background-color: $Primary500;
    }

    .messageInfo {
        span {
            font-weight: bolder;
        }
    }
}