@import "../../variables.module.scss";

.container {
    width: 100%;

    ul {
        padding: 0 40px;
    }

    .description {
        display: flex;
        flex-direction: column;
        gap: 10px;

        h2 {
            font-size: $fntbase;
        }

        .desc {
            padding: 10px;
            background-color: $Neutral200;
        }
    }
}