@import "../../variables.module.scss";


.container {
    width: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column;

    .as {
        width: 100%;
    }

    .header {
        width: 100%;
        padding: 20px 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        border-radius: 5px;

        .second {
            display: flex;
            align-items: center;
            gap: 5px;

            .sortbys {
                display: flex;
                align-items: center;
                gap: 10px;
                padding: 10px;

                select {
                    width: 200px;
                    height: 50px;
                    padding: 10px;
                    border: none;
                    border-radius: 5px;
                    box-shadow: 0px 0px 3px 0px #ccc;
                }
            }

            .search {
                display: flex;
                align-items: center;
                height: 50px;
                box-shadow: 0px 0px 3px 0px #ccc;
                border-radius: 5px;
                padding: 10px 15px;
                background-color: #fff;

                svg {
                    stroke-width: 1.5px;
                }

                input {
                    width: 300px;
                    padding: 10px;
                    border: none;
                    outline: none;
                    border: none;
                }
            }
        }
    }

    .body {
        width: 100%;
        padding: 10px;
        background-color: #fff;
        border-radius: 5px;

        .thead,
        .tbody {
            width: 100%;
            padding: 15px 10px;
            border-radius: 5px;

            .tr {
                width: 100%;
                display: flex;
                align-items: center;

                .th {
                    width: 100%;
                }

                .td {
                    width: 100%;
                }

                .actionsBtnGrp {
                    display: flex;
                    gap: 5px;

                    button {
                        background-color: none;
                        border: none;
                        padding: 10px;
                        border-radius: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        background-color: transparent;

                        &:hover {
                            background-color: $Neutral200;
                        }
                    }
                }
            }
        }
    }

    .toggleView {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: flex-end;

        .projectView {
            width: 600px;
            height: 100vh;
            background-color: #fff;
            padding: 20px;
            overflow-y: auto;

            .projectHeader {
                width: 100%;
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .grpBtn {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }

                button {
                    border-radius: 100px;
                    height: 45px;
                    width: 45px;
                    display: flex;
                    border: none;
                    background-color: transparent;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    position: relative;

                    &:hover {
                        background-color: $Neutral100;
                    }
                }

                .changeStatus {
                    &::before {
                        width: 100px;
                        padding: 10px;
                        background-color: $Primary500;
                        position: absolute;
                        top: 50px;
                        content: "Change Status";
                        border-radius: 5px;
                        display: none;
                    }

                    &:hover {
                        &::before {
                            display: block;
                        }
                    }
                }

                .Edit {
                    &::before {
                        width: 100px;
                        padding: 10px;
                        background-color: $Primary500;
                        position: absolute;
                        top: 50px;
                        content: "Edit Project";
                        border-radius: 5px;
                        display: none;
                    }

                    &:hover {
                        &::before {
                            display: block;
                        }
                    }
                }

            }


            .projectBody {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 10px;

                ul {
                    padding: 10px 30px;
                }
            }
        }
    }

    .revieContainer {
        width: 100%;
        height: 100vh;
    }
}